{% extends 'tasks/base.html' %}
{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <feildset class="form-group">
                <legend class="border-bottom mb-4">Delete Task</legend>
                <h2>Are you sure you want to delete the task "{{ object.title }}"</h2>
            </feildset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'task-list'%}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
